<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.yin.mapper.CompoundMapper">
  <resultMap id="BaseResultMap" type="com.example.yin.model.domain.Compound">
    <id column="compound_id" jdbcType="INTEGER" property="compoundId" />
    <result column="molecule_chembl_id" jdbcType="VARCHAR" property="moleculeChemblId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="standard_type" jdbcType="VARCHAR" property="standardType" />
    <result column="standard_relation" jdbcType="VARCHAR" property="standardRelation" />
    <result column="standard_value" jdbcType="VARCHAR" property="standardValue" />
    <result column="standard_units" jdbcType="VARCHAR" property="standardUnits" />
    <result column="document_chembl_id" jdbcType="VARCHAR" property="documentChemblId" />
  </resultMap>
  <sql id="Base_Column_List">
    compound_id, molecule_chembl_id, `name`, standard_type, standard_relation, standard_value, 
    standard_units, document_chembl_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from compound
    where compound_id = #{compoundId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from compound
    where compound_id = #{compoundId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.yin.model.domain.Compound">
    insert into compound (compound_id, molecule_chembl_id, `name`, 
      standard_type, standard_relation, standard_value, 
      standard_units, document_chembl_id)
    values (#{compoundId,jdbcType=INTEGER}, #{moleculeChemblId,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{standardType,jdbcType=VARCHAR}, #{standardRelation,jdbcType=VARCHAR}, #{standardValue,jdbcType=VARCHAR}, 
      #{standardUnits,jdbcType=VARCHAR}, #{documentChemblId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.yin.model.domain.Compound">
    insert into compound
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="compoundId != null">
        compound_id,
      </if>
      <if test="moleculeChemblId != null">
        molecule_chembl_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="standardType != null">
        standard_type,
      </if>
      <if test="standardRelation != null">
        standard_relation,
      </if>
      <if test="standardValue != null">
        standard_value,
      </if>
      <if test="standardUnits != null">
        standard_units,
      </if>
      <if test="documentChemblId != null">
        document_chembl_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="compoundId != null">
        #{compoundId,jdbcType=INTEGER},
      </if>
      <if test="moleculeChemblId != null">
        #{moleculeChemblId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="standardType != null">
        #{standardType,jdbcType=VARCHAR},
      </if>
      <if test="standardRelation != null">
        #{standardRelation,jdbcType=VARCHAR},
      </if>
      <if test="standardValue != null">
        #{standardValue,jdbcType=VARCHAR},
      </if>
      <if test="standardUnits != null">
        #{standardUnits,jdbcType=VARCHAR},
      </if>
      <if test="documentChemblId != null">
        #{documentChemblId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.yin.model.domain.Compound">
    update compound
    <set>
      <if test="moleculeChemblId != null">
        molecule_chembl_id = #{moleculeChemblId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="standardType != null">
        standard_type = #{standardType,jdbcType=VARCHAR},
      </if>
      <if test="standardRelation != null">
        standard_relation = #{standardRelation,jdbcType=VARCHAR},
      </if>
      <if test="standardValue != null">
        standard_value = #{standardValue,jdbcType=VARCHAR},
      </if>
      <if test="standardUnits != null">
        standard_units = #{standardUnits,jdbcType=VARCHAR},
      </if>
      <if test="documentChemblId != null">
        document_chembl_id = #{documentChemblId,jdbcType=VARCHAR},
      </if>
    </set>
    where compound_id = #{compoundId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.yin.model.domain.Compound">
    update compound
    set molecule_chembl_id = #{moleculeChemblId,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      standard_type = #{standardType,jdbcType=VARCHAR},
      standard_relation = #{standardRelation,jdbcType=VARCHAR},
      standard_value = #{standardValue,jdbcType=VARCHAR},
      standard_units = #{standardUnits,jdbcType=VARCHAR},
      document_chembl_id = #{documentChemblId,jdbcType=VARCHAR}
    where compound_id = #{compoundId,jdbcType=INTEGER}
  </update>
</mapper>